<!DOCTYPE html>
<html>
  <head>
    <title>Watch your memory grow!</title>
    <link href="/app.css" type="text/css" rel="stylesheet" media="screen">
    <script src="/components/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="/components/d3/d3.min.js" type="text/javascript"></script>
    <script src="/app.js" type="text/javascript"></script>
  </head>
  <body>
    <div>
      show
      <button class="js-adjust-window" data-n="15" data-step="5">15s</button>
      <button class="js-adjust-window" data-n="30" data-step="5">30s</button>
      <button class="js-adjust-window" data-n="60" data-step="10">60s</button>
    </div>
  </body>
</html>
